# Virtual environment
.venv/

# Byte-compiled / caches
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Logs
*.log

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor directories
.vscode/